<div class="main-content section scrollspy" id="about" [routerLink]="['/']" fragment="about">
    <h5><strong>Leverage the power of Google's machine intelligence to build a smarter team</strong></h5>
    <div class="about-text-container animation-element slide-left">
        <div class="about-wrapper">
            <div class="abouticons">
                <img src="../../../assets/gmailicon.svg" alt="gmailicon">
            </div>
            <div class="aboutcontainertext">
                <p class="about-head"><strong>Get the power of Gmail</strong></p>
                <p class="about-body">Get a professional email for your business with all the powerful features of
                    Gmail.</p>
            </div>
            <div class="abouticons">
                <img src="../../../assets/calendaricon.svg" alt="calendaricon">
            </div>
            <div class="aboutcontainertext">
                <p class="about-head"><strong>Never miss a meeting</strong></p>
                <p class="about-body">Add reminders, schedule meetings and never miss a thing with smart calendar.</p>
            </div>
            <div class="abouticons">
                <img src="../../../assets/chaticon.svg" alt="chaticon">
            </div>
            <div class="aboutcontainertext">
                <p class="about-head"><strong>Communicate on the go</strong></p>
                <p class="about-body">Stay connected with your colleagues with HD video calls via Hangouts Meet and
                    Hangouts Chats.</p>
            </div>
        </div>
    </div>
    <div class="about-text-image animation-element slide-right">
        <div class="row">
            <img class="aboutimage col m12" src="../../../assets/aboutimage.svg" alt="aboutimage">
        </div>
    </div>
</div>