<div class="main-content">
    <div class="footer-wrapper">
        <div class="footer-column">
            <h6>Domains</h6>
            <p>Register Domain Name</p>
            <p>View Domain Pricing</p>
            <p>Bulk Domain Register</p>
            <p>Bulk Domain Transfer</p>
            <p>Whois Lookup</p>
            <p>Name Suggestion Tool</p>
            <p>Free With Every Domain</p>
            <p>View Promos</p>
        </div>
        <div class="footer-column">
            <h6>Hosting and products</h6>
            <p>Linux Hosting</p>
            <p>Windows Hosting</p>
            <p>Linux Reseller Hosting</p>
            <p>Windows Reseller Hosting</p>
            <p>Virtual Private Servers</p>
            <p>Dedicated Servers</p>
            <p>Managed Servers</p>
            <p>Cloud Hosting</p>
            <p>Website builder</p>
            <p>Impress.ly</p>
            <p>Business Email</p>
            <p>Enterprise Email</p>
            <p>SSL Certificates</p>
            <p>Sitelock</p>
            <p>Codeguard</p>
            <p>Combo Offers</p>
        </div>
        <div class="footer-column">
            <h6>Infrastructure</h6>
            <p>Datacenter Details</p>
            <p>Hosting Security</p>
            <p>24 x 7 Servers Monitoring</p>
            <p>Backup and Recovery</p>
        </div>
        <div class="footer-column">
            <h6>Support</h6>
            <p>View Knowledge Base</p>
            <p>Contact Support</p>
            <p>Report Abuse</p>
        </div>
        <div class="footer-column">
            <h6>Resellers</h6>
            <p>Join Reseller Program</p>
        </div>
    </div>
    <div class="copyright-footer">
        <div class="copyright">
            <p>Copyright &copy; SuperSuiteV2 Test. All Rights Reserved</p>
        </div>
        <div class="privacy">
            <p>Privacy Policy | Legal Agreement</p>
        </div>
    </div>
</div>