/* Common width */
nav .nav-wrapper img {
    height: 60px;
    padding: 6px;
}
.material-icons.blue-cart {
    color: #007bd1;
}
.btn-flat {
    text-transform: none;
}
.functional-nav {
    z-index: 999;
}
.functional-nav nav .nav-wrapper ul li a.active {
    background-color: #9e9e9e;
}
.functional-nav nav .nav-wrapper ul li a.projects-cls.active {
    background-color: #ffffff;
}
/* Web Specific Width */
@media (min-width: 992px){
    .top-nav {
        z-index: 1000 !important;
    }
}
/* Mobile Specific Width */
@media(max-width: 600px) {
    .main-content {
        padding: 0 16px;
    }
    nav .nav-wrapper img {
        height: 54px;
        padding: 6px;
    }
    nav .nav-wrapper {
        text-align: center;
    }
}
