<div class="main-content" id="home">
    <div class="g-suite animation-element col l6 s8">
        <img src="../../../assets/gsuitetext.svg" alt="gsuite">
        <p class="intelligent-text">Intelligent tools your business can depend on</p>
        <img src="../../../assets/leftarrow.svg" alt="leftarrow" class="leftarrow">
        <img src="../../../assets/rightarrow.svg" alt="rightarrow" class="rightarrow">
        <div class="row">
            <p class="plans-text col s12">
                <span class="starting">Plans starting at </span>
                <span class="bluecolor"><sup> $ </sup></span>
                <span class="bodytext bluecolor"><strong>1.22</strong>/account/month</span>
            </p>
        </div>
        <a class="waves-effect waves-light btn">View Plans</a><br>
        <div class="row">
            <img src="../../../assets/centerbanner.svg" alt="centerbanner" class="centerbanner col s12 m12 l12">
        </div>
    </div>
</div>