<div class="main-content section scrollspy" id="pricing">
    <h5 class="get-started-text">
        <img src="../../../assets/getstartedleft.svg" alt="left">
        <strong>Get Started with G Suite</strong>
        <img src="../../../assets/getstartedright.svg" alt="left">
    </h5>
    <p class="choose-text">Choose a G Suite plan that serves your business requirement copy</p>
    <img src="../../../assets/planssteps.png" alt="steps" class="select-image">
    <div class="plans-wrapper">
        <div class="col l4 m4 s12 each-plan smallplan">
            <div class="plans-sub-wrapper">
                <div class="plans-header">
                    <img src="../../../assets//plans1.png" alt="small">
                    <p class="business-type">New Business</p>
                    <p class="gsuite-type">G Suite Basic</p>
                    <p class="plan-desc">Look professional with a personalised email for your business.</p>
                    <p><span><sup>$</sup></span> <span> 1.99 </span><span>/acc /month</span></p>
                </div>
                <div class="sub-description">
                    <div>
                        <ul class="collapsible expandable">
                            <li class="active">
                                <div class="collapsible-headers">
                                    <p class="plan-features collapsible-plan">30 GB Cloud Storage
                                    </p>
                                </div>
                                <div class="collapsible-body"><img src="../../../assets/googlecloud.svg"
                                        alt="communicate">
                                </div>
                            </li>
                            <li class="active">
                                <div class="collapsible-header">
                                    <p class="plan-features collapsible-plan">Communicate
                                        <i class="material-icons iconadd col s1">chevron_right</i>
                                        <i class="material-icons iconremove col s1">chevron_right</i>
                                    </p>
                                </div>
                                <div class="collapsible-body"><img src="../../../assets/communicate.svg"
                                        alt="communicate">
                                </div>
                            </li>
                            <li class="active">
                                <div class="collapsible-header">
                                    <p class="plan-features collapsible-plan">Collaborate
                                        <i class="material-icons iconadd col s1">chevron_right</i>
                                        <i class="material-icons iconremove col s1">chevron_right</i>
                                    </p>
                                </div>
                                <div class="collapsible-body"><img src="../../../assets/smallcollaborate.svg"
                                        alt="collaborate">
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="control-wrapper">
                        <p class="plan-features">Control</p>
                        <div class="row">
                            <div class="col l2 control-icons"><img src="../../../assets/security.svg" alt="security">
                            </div>
                            <div class="col l10 control-desc">
                                <p>Basic security and admin controls</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-plan-div col l2">
                <a class="waves-effect waves-light btn select-plan-btn col l10">Select Plan</a>
            </div>
        </div>
        <div class="col l4 m4 s12 each-plan mediumplan">
            <div class="plans-sub-wrapper">
                <div class="plans-header">
                    <img src="../../../assets//plans2.png" alt="medium">
                    <p class="business-type">Small to Mid Size Business</p>
                    <p class="gsuite-type">G Suite Business</p>
                    <p class="plan-desc">Get all tools your teams needs to collaborate in real time </p>
                    <p><span><sup>$</sup></span> <span> 3.99 </span><span>/acc /month</span></p>
                </div>
                <div class="sub-description">
                    <div>
                        <ul class="collapsible expandable">
                            <li class="active">
                                <div class="collapsible-headers">
                                    <p class="plan-features collapsible-plan">Unlimited Cloud Storage
                                        <i class="material-icons col s1 info-icon tooltipped" data-position="bottom"
                                            data-tooltip="1TB per user if you have less than 5 users">info_outline</i>
                                    </p>
                                </div>
                                <div class="collapsible-body"><img src="../../../assets/googlecloud.svg"
                                        alt="communicate">
                                </div>
                            </li>
                            <li class="active">
                                <div class="collapsible-header">
                                    <p class="plan-features collapsible-plan">Communicate
                                        <i class="material-icons iconadd col s1">chevron_right</i>
                                        <i class="material-icons iconremove col s1">chevron_right</i>
                                    </p>
                                </div>
                                <div class="collapsible-body"><img src="../../../assets/communicate.svg"
                                        alt="communicate">
                                </div>
                            </li>
                            <li class="active">
                                <div class="collapsible-header">
                                    <p class="plan-features collapsible-plan">Collaborate
                                        <i class="material-icons iconadd col s1">chevron_right</i>
                                        <i class="material-icons iconremove col s1">chevron_right</i>
                                    </p>
                                </div>
                                <div class="collapsible-body"><img src="../../../assets/midandlargecollaborate.svg"
                                        alt="collaborate"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="control-wrapper">
                        <p class="plan-features">Control</p>
                        <div class="row">
                            <div class="col l2 control-icons"><img src="../../../assets/security.svg" alt="security">
                            </div>
                            <div class="col l10 control-desc">
                                <p>Basic security and admin controls</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l2 control-icons"><img src="../../../assets/search.svg" alt="search"></div>
                            <div class="col l10 control-desc">
                                <p>Smart Search within and outside G Suite with Cloud Search</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l2 control-icons"><img src="../../../assets/vault.svg" alt="vault"></div>
                            <div class="col l10 control-desc">
                                <p>Vault for eDiscovery for emails, chats, and files and archiving</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-plan-div col l2">
                <a class="waves-effect waves-light btn select-plan-btn col l10">Select Plan</a>
            </div>
        </div>
        <div class="col l4 m4 s12 each-plan largeplan">
            <div class="plans-sub-wrapper">
                <div class="plans-header">
                    <img src="../../../assets//plans3.svg" alt="large">
                    <p class="business-type">Large Business</p>
                    <p class="gsuite-type">G Suite Enterprise</p>
                    <p class="plan-desc">Use intelligent, cloud-based apps to collaborate and manage your team</p>
                    <p><span><sup>$</sup></span> <span> 5.99 </span><span>/acc /month</span></p>
                </div>
                <div class="sub-description">
                    <div>
                        <ul class="collapsible expandable">
                            <li class="active">
                                <div class="collapsible-headers">
                                    <p class="plan-features collapsible-plan">Unlimited Cloud Storage
                                        <i class="material-icons col s1 info-icon tooltipped" data-position="bottom"
                                            data-tooltip="5TB per user if you have less than 5 users">info_outline</i>
                                    </p>
                                </div>
                                <div class="collapsible-body"><img src="../../../assets/googlecloud.svg"
                                        alt="communicate">
                                </div>
                            </li>
                            <li class="active">
                                <div class="collapsible-header">
                                    <p class="plan-features collapsible-plan">Communicate
                                        <i class="material-icons iconadd col s1">chevron_right</i>
                                        <i class="material-icons iconremove col s1">chevron_right</i>
                                    </p>
                                </div>
                                <div class="collapsible-body"><img src="../../../assets/communicate.svg"
                                        alt="communicate">
                                </div>
                            </li>
                            <li class="active">
                                <div class="collapsible-header">
                                    <p class="plan-features collapsible-plan">Collaborate
                                        <i class="material-icons iconadd col s1">chevron_right</i>
                                        <i class="material-icons iconremove col s1">chevron_right</i>
                                    </p>
                                </div>
                                <div class="collapsible-body"><img src="../../../assets/midandlargecollaborate.svg"
                                        alt="collaborate"></div>
                            </li>
                        </ul>
                    </div>
                    <div class="control-wrapper">
                        <p class="plan-features">Control</p>
                        <div class="row">
                            <div class="col l2 control-icons"><img src="../../../assets/security.svg" alt="security">
                            </div>
                            <div class="col l10 control-desc">
                                <p>Advanced security and admin controls</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l2 control-icons"><img src="../../../assets/search.svg" alt="search"></div>
                            <div class="col l10 control-desc">
                                <p>Smart Search within and outside G Suite with Cloud Search</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l2 control-icons"><img src="../../../assets/vault.svg" alt="vault"></div>
                            <div class="col l10 control-desc">
                                <p>Vault for eDiscovery for emails, chats, and files and archiving</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l2 control-icons"><img src="../../../assets/security.svg" alt="security">
                            </div>
                            <div class="col l10 control-desc">
                                <p>Backup options for Drive and Gmail</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l2 control-icons"><img src="../../../assets/endpoint.svg" alt="endpoint">
                            </div>
                            <div class="col l10 control-desc">
                                <p>Endpoint Management for data security</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="select-plan-div col l2">
                <a class="waves-effect waves-light btn select-plan-btn col l10">Select Plan</a>
            </div>
        </div>
    </div>
    <div class="row already-account">
        <p>Already have a G Suite Account with another provider? <a href="javascript:void(0)">Transfer it to us now.</a>
        </p>
    </div>
</div>