<div class="main-content section scrollspy" id="faq">
    <h5 class="get-started-text">
        <img src="../../../assets/getstartedleft.svg" alt="left">
        <strong>FAQs</strong>
        <img src="../../../assets/getstartedright.svg" alt="left">
    </h5>
    <div class="row">
        <div class="col l10 offset-l1">
            <ul class="collapsible">
                <li class="active">
                    <div class="collapsible-header">
                        <p class="plan-features collapsible-plan col l12 s12">
                            <span class="col s10">Q. Can I use my existing domain with G Suite?</span>
                            <i class="material-icons iconadd col s1">add</i>
                            <i class="material-icons iconremove col s1">remove</i>
                        </p>
                    </div>
                    <div class="collapsible-body">
                        Yes, you can use an existing domain with your G Suite order.
                    </div>
                </li>
                <li class="">
                    <div class="collapsible-header">
                        <p class="plan-features collapsible-plan col l12 s12">
                            <span class="col s10">Q. What happens to my existing mail, contacts, and calendar data when
                                I move to G Suite?</span>
                            <i class="material-icons iconadd col s1">add</i>
                            <i class="material-icons iconremove col s1">remove</i>
                        </p>
                    </div>
                    <div class="collapsible-body">
                        Lorem ipsum dolor sit amet.
                    </div>
                </li>
                <li class="">
                    <div class="collapsible-header">
                        <p class="plan-features collapsible-plan col l12 s12">
                            <span class="col s10">Q. What is the space provided per Email Account?</span>
                            <i class="material-icons iconadd col s1">add</i>
                            <i class="material-icons iconremove col s1">remove</i>
                        </p>
                    </div>
                    <div class="collapsible-body">
                        Lorem ipsum dolor sit amet.
                    </div>
                </li>
                <li class="">
                    <div class="collapsible-header">
                        <p class="plan-features collapsible-plan col l12 s12">
                            <span class="col s10">Q. Is G Suite compatible with the email client I use today?</span>
                            <i class="material-icons iconadd col s1">add</i>
                            <i class="material-icons iconremove col s1">remove</i>
                        </p>
                    </div>
                    <div class="collapsible-body">
                        Lorem ipsum dolor sit amet.
                    </div>
                </li>
                <li class="">
                    <div class="collapsible-header">
                        <p class="plan-features collapsible-plan col l12 s12">
                            <span class="col s10">Q. Which Email Clients and protocols are supported?</span>
                            <i class="material-icons iconadd col s1">add</i>
                            <i class="material-icons iconremove col s1">remove</i>
                        </p>
                    </div>
                    <div class="collapsible-body">
                        Lorem ipsum dolor sit amet.
                    </div>
                </li>
                <li class="">
                    <div class="collapsible-header">
                        <p class="plan-features collapsible-plan col l12 s12">
                            <span class="col s10">Q. Which mobile phones can I access my mail from?</span>
                            <i class="material-icons iconadd col s1">add</i>
                            <i class="material-icons iconremove col s1">remove</i>
                        </p>
                    </div>
                    <div class="collapsible-body">
                        Lorem ipsum dolor sit amet.
                    </div>
                </li>
                <li class="">
                    <div class="collapsible-header">
                        <p class="plan-features collapsible-plan col l12 s12">
                            <span class="col s10">Q. Can I manage multiple domains with G Suite?</span>
                            <i class="material-icons iconadd col s1">add</i>
                            <i class="material-icons iconremove col s1">remove</i>
                        </p>
                    </div>
                    <div class="collapsible-body">
                        Lorem ipsum dolor sit amet.
                    </div>
                </li>
                <li class="">
                    <div class="collapsible-header">
                        <p class="plan-features collapsible-plan col l12 s12">
                            <span class="col s10">Q. If I only want one of the products, do I have to buy the entire
                                suite?</span>
                            <i class="material-icons iconadd col s1">add</i>
                            <i class="material-icons iconremove col s1">remove</i>
                        </p>
                    </div>
                    <div class="collapsible-body">
                        Lorem ipsum dolor sit amet.
                    </div>
                </li>
                <li class="">
                    <div class="collapsible-header">
                        <p class="plan-features collapsible-plan col l12 s12">
                            <span class="col s10">Q. Can I create mailing lists?</span>
                            <i class="material-icons iconadd col s1">add</i>
                            <i class="material-icons iconremove col s1">remove</i>
                        </p>
                    </div>
                    <div class="collapsible-body">
                        Lorem ipsum dolor sit amet.
                    </div>
                </li>
                <li class="">
                    <div class="collapsible-header">
                        <p class="plan-features collapsible-plan col l12 s12">
                            <span class="col s10">Q. What is your SPAM policy?</span>
                            <i class="material-icons iconadd col s1">add</i>
                            <i class="material-icons iconremove col s1">remove</i>
                        </p>
                    </div>
                    <div class="collapsible-body">
                        Lorem ipsum dolor sit amet.
                    </div>
                </li>
                <li class="">
                    <div class="collapsible-header">
                        <p class="plan-features collapsible-plan col l12 s12">
                            <span class="col s10">Q. Can I use Auto Responders?</span>
                            <i class="material-icons iconadd col s1">add</i>
                            <i class="material-icons iconremove col s1">remove</i>
                        </p>
                    </div>
                    <div class="collapsible-body">
                        Lorem ipsum dolor sit amet.
                    </div>
                </li>
                <li class="">
                    <div class="collapsible-header">
                        <p class="plan-features collapsible-plan col l12 s12">
                            <span class="col s10">Q. Can I transfer my existing G Suite?</span>
                            <i class="material-icons iconadd col s1">add</i>
                            <i class="material-icons iconremove col s1">remove</i>
                        </p>
                    </div>
                    <div class="collapsible-body">
                        Lorem ipsum dolor sit amet.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>